

.tagiyContainer{
    position: relative;
     margin-top: 5%;
   
}


input{

    padding: 5px 5px 5px 5px;
    
    margin-left: 43% ;
  
}





.ul{

    background-color: red;
}


   
    ul {
        list-style-type: square;
        list-style-position: outside;
        list-style-image: none;
      }


